<h1>Internal Server Error</h1>
<h4>Refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="fw-bold">Note: If your are seeing this then angular is probably not to blame</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome dev tools! Then check the failing request in the network tab</li>
        <li>Examine the request URL - what API endpoint are you requesting</li>
        <li>Reproduce the promlem in Postman - if you get same error Angular is 100% not the problem</li>
    </ol>
    <p class="fw-bold">Following is the stack trace - the first few lines will tell you which line of code caused the issue in the API</p>
    <div class="bg-light border border-danger rounded bt-5 p-3">
        <code class="text-body-tertiary">{{error.details}}</code>
    </div>
</ng-container>